[Desktop Entry]
Terminal=false
Type=Application
Exec=/usr/bin/python3 /home/truth/.password_engine/window_launcher.py
Name=Password Engine
Icon=/home/truth/.password_engine/icon.png
