[Desktop Entry]
Terminal=false
Type=Application
Exec=/usr/bin/python3 /home/ (User) /.password_engine/window_launcher.py
Name=Password Engine
Icon=/home/ (User) /.password_engine/icon.png
